header {
  align-items: center;
  background-color: #02aadd;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 50px;
}

header section {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 960px;
}

header h1 {
  color: black;
  font-size: 3em;
}

header div p {
  padding: 5px;
}
