* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #15202b;
  min-height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

main {
  height: 100vh;
  width: 100vw;
}

button {
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}

.disabled {
  background-color: #555;
}
